<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Apenas desenvolvimento — removido automaticamente no release -->
    <application
        android:allowBackup="true"
        android:debuggable="true"
        tools:replace="android:allowBackup,android:debuggable" />

</manifest>
